[{elvis, [
  {config, [
    #{
      dirs => ["src", "src/*", "test", "test/*"],
      filter => "*.erl",
      ruleset => erl_files,
      rules => [
        {elvis_style, invalid_dynamic_call, disable},
        {elvis_style, line_length, #{limit => 110}},
        {elvis_style, god_modules, #{limit => 55, ignore => []}},
        {elvis_style, macro_module_names, disable},
        {elvis_style, dont_repeat_yourself, disable},
        {elvis_style, macro_names, disable},
        {elvis_style, variable_naming_convention, #{ regex => "^([_A-Z]+[0-9a-zA-Z]*)$" }},
        {elvis_style, function_naming_convention, #{ regex => "^([a-z][a-z0-9_]*)*$" }},
        {elvis_style, nesting_level, #{ignore => []}}
      ]
    }
  ]}
]}].
