{erl_opts, [debug_info]}.
{deps, [
    {jiffy, "1.0.8"},
    {cowboy, "2.9.0"},
    {fancyflow, {git, "https://github.com/ferd/fancyflow", {ref, "81cf9df"}}}
]}.

{shell, [
    {apps, [tofe]}
]}.


{minimum_otp_vsn, "22.0.0"}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"},
            {gun, "2.0.0-rc.2"}
        ]},
        {plugins, [rebar3_auto]}
    ]}
]}.


{erl_opts, [
    warn_unused_vars,
    warnings_as_errors,
    ewarn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    debug_info,
    {parse_transform, lager_transform},
    {parse_transform, fancyflow_trans}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        no_return,
        unmatched_returns,
        error_handling,
        unknown
    ]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [cowlib, fancyflow]},
    {plt_location, local},
    {plt_prefix, "tofe_plt"},
    {base_plt_prefix, "tofe_plt"}
]}.

{xref_checks, [undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions]}.

%% == Common Test ==

{ct_compile_opts, [
    debug_info,
    warnings_as_errors,
    warn_unused_vars,
    ewarn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_untyped_record,
    {parse_transform, fancyflow_trans}
]}.

{ct_opts, [
    {sys_config, ["sys.config"]}
]}.
